<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Coding Challenge - 6.21.19
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="./assets/css/material-kit.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
                <h2 style="color:rgb(29,185,84); text-shadow: 1px 1px 2px rgb(44, 44, 44), 0 0 25px rgb(102, 102, 102)"><strong>If the moon were made of BBQ spare ribs, would you eat it?</strong></h2>
            </div>
        </div>
    </div>


    <h3>Give us your answer below!</h3>

    <form id="contact" action="#" method="post">
        <div class="left">
        <input type="text" placeholder=" Name" required="required"/><br>
        <input type="email" placeholder=" Email" required="required"/><br>
        <input type="text" placeholder=" Zip Code" required="required"/>
        </div>
        <div class="right">
            <br>
            <form>
                <input id="first" type="radio" name="content" ng-model="content" value="first">
                <label for="first" style="color:black">Eww, gross I would not eat it</label>
                <br>
                <input id="other" type="radio" name="content" ng-model="content" value="other">
                <label for="other" style="color:black">I know I would. Heck I’d have seconds.</label>
                <br>
                <input id="other" type="radio" name="content" ng-model="content" value="other">
                <label for="other" style="color:black">I want nothing to do with the moon, it's inhabited by aliens</label>
            </form>
        </div>
        <div class="send-button cl">
        <button type="submit">Send</button>
        </div>
    </form>

</div>


</body>
</html>